# python
*.pyc
**/__pycache__
*.egg-info
*.egg
build/
dist/
.cache/
.pytest_cache/
.coverage
htmlcov/

# frontend
chainerui/static/dist

# working directory
examples/result
examples/mlp.model
examples/mlp.state

# IDE
.idea/
.vscode/
