.result-row .result-name {
  width: 240px;
}

.table-xy-overflow-scroll {
  display: block;
  width: 100%;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}

.breadcrumb-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: inherit;
}

